emailapplicationv1/src/main/mule/emailapplicationv1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39a8e2ba-4394-44bf-859d-22b37b97294c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="77300fcc-4767-4e52-8ca1-93f2e0bcb57a" >
		<http:request-connection host="localhost" port="8085" />
	</http:request-config>
	<flow name="createAccountFlow" doc:id="4d2183be-0265-450b-b54c-44606f9bb871" >
		<http:listener doc:name="Listener For Creating An Account" doc:id="9ceebdfc-d376-449a-b159-fca8c8fcb110" config-ref="HTTP_Listener_config" path="/createAccount" allowedMethods="POST"/>
		<set-variable value="#[message.payload.username]" doc:name="Set Username Variable" doc:id="32ef44b1-c14c-40da-bd9d-5ab57cde8430" variableName="username"/>
		<set-variable value="#[message.payload.password]" doc:name="Set Password Variable" doc:id="ac95bd2c-bcea-46ff-b61a-4d5f1cd564f4" variableName="password"/>
		<logger level="ERROR" doc:name="Logger" doc:id="1f506a58-f8f3-4fa7-9b42-3194916fbe04" message='#["An attempt is being made to create an account with the username=" ++ vars.username ++ ", and password=" ++ vars.password]'/>
		<ee:transform doc:name="Transform Message" doc:id="a57966b4-d438-4b9f-ba2e-e222d195e746" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	username : "Mark",
	password : "password"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="4f16207a-9c03-4254-9795-82bf32923c97" />
		<http:request method="POST" doc:name="Request For Successful Account Creation Page" doc:id="2e350c7a-57eb-4827-b524-dac2cd353a69" config-ref="HTTP_Request_configuration" outputMimeType="text/html" path="/accountCreationSuccess">
		</http:request>
	</flow>
</mule>
